@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#root {
  flex-grow: 1;
  display: flex;
}

@layer components {
  .btn-primary {
    background-color: var(--colors-brand);
    color: var(--colors-brandButtonText);
    border-color: var(--colors-brandAccent);
    @apply py-2 px-5 focus:outline-none text-sm rounded-md;
  }
  .btn-primary:hover {
    background-color: var(--colors-brandAccent);
  }
  .btn-secondary {
    color: var(--colors-brandButtonText);
    @apply py-2 px-5 focus:outline-none text-sm rounded-md bg-slate-600 hover:bg-slate-800;
  }
}
